src/main/mule/employee-administration-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="employee-api-2-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <db:config name="Oracle_Database_Config" doc:name="Database Config" doc:id="76b25930-f6ae-46cb-92ea-042039f86f98">
        <db:oracle-connection host="${oracle.db.host}" port="${oracle.db.port}" user="${oracle.db.user}" password="${oracle.db.password}" serviceName="${oracle.db.instance}"/>
    </db:config>
    <apikit:config name="employee-api-2-config" api="api/employee-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus">
        <apikit:flow-mappings>
			<apikit:flow-mapping resource="/employee" action="post" content-type="application/json" flow-ref="post:\employee:application\json:employee-api-2-config" />
			<apikit:flow-mapping resource="/employee" action="get" flow-ref="get:\employee:employee-api-2-config" />
        </apikit:flow-mappings>
    </apikit:config>
    <configuration-properties doc:name="Configuration properties" doc:id="5f06692f-dcbb-48bf-8965-8eb4905dcb77" file="mule-artifact.properties" />
	<api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="c6ac51ae-5ae0-4fe2-b361-c37aa54b3baf" flowRef="employee-administration-system-api-main" />
	<flow name="employee-administration-system-api-main">
        <http:listener config-ref="employee-api-2-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employee-api-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="employee-administration-system-api-console">
        <http:listener config-ref="employee-api-2-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="employee-api-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\employee:employee-api-2-config">
        <db:select doc:name="Select" doc:id="ec37fdd5-d00b-43e6-956e-55addc7abbe0" config-ref="${db.config}">
            <db:sql><![CDATA[SELECT ID, FIRSTNAME, LASTNAME, DATEOFBIRTH, GENDER, EMAIL, PHONENUMBER, STATUS, EMPLOYERID, LASTMODIFIEDDATE FROM EMPLOYEE
WHERE FIRSTNAME=:employeeFirstName AND LASTNAME=:employeeLastName AND DATEOFBIRTH=:employeeDateOfBirth AND GENDER=:employeeGender]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	'employeeFirstName': attributes.queryParams.employeeFirstName,
	'employeeLastName': attributes.queryParams.employeeLastName,
	'employeeDateOfBirth': attributes.queryParams.employeeDateOfBirth,
	'employeeGender': attributes.queryParams.employeeGender
}]]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="3008c442-5792-4035-990a-8cf30099b40c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="#[payload]" category="gov.wisconsin.etf" />
    </flow>
    <flow name="post:\employee:application\json:employee-api-2-config">
        <logger level="INFO" doc:name="Logger" doc:id="dceccc0c-9e15-416c-96c1-9c0fdac3e9ac" message="#[payload]"/>
		<db:insert doc:name="Insert" doc:id="4b0dfd8b-9a20-4c1e-8d4e-ee813cbe9412" config-ref="${db.config}" autoGenerateKeys="true">
            <db:sql><![CDATA[INSERT INTO EMPLOYEE (FIRSTNAME, LASTNAME, DATEOFBIRTH, GENDER, EMAIL, PHONENUMBER, STATUS, EMPLOYERID, LASTMODIFIEDDATE) 
VALUES
(:firstName, :lastName, :dateOfBirth, :gender, :email, :phoneNumber, :status, :employerId, :lastModifiedDate)]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	'firstName': payload.firstName,
	'lastName': payload.lastName,
	'dateOfBirth': payload.dateOfBirth,
	'gender': payload.gender,
	'email': payload.email,
	'phoneNumber': payload.phoneNumber,
	'status': payload.status,
	'employerId': payload.employerId,
	'lastModifiedDate': now() as String{format: 'yyyy-MM-dd HH:mm:ss.SSS'}
}]]]></db:input-parameters>
            <db:auto-generated-keys-column-names>
                <db:auto-generated-keys-column-name value="ID" />
            </db:auto-generated-keys-column-names>
        </db:insert>
        <ee:transform xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.generatedKeys.ID]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="bd0fe80a-1432-4d4b-80f8-b2a99e4788d0" message="Added Employee Successfully" category="gov.wisconsin.etf" />
    </flow>
</mule>
